/*  Components  */
#menubar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: #533F64;
    color:      #fcfefd;
}

.dropIcon {
    position: relative;
    
    width: 90px;
    height: 90px;
}

#wrapper {
    text-align: center;
}
