@font-face {
    font-family: Roboto;
    src:  url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 200;
    src:  url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 100;
    src:  url(../fonts/Roboto-Thin.ttf);
}
